:root{
    --words: goldenrod;
    --special: #ff9800;
    --inputcolor: #eee;
    --bordercolor: #d20100;
    }
/* navbar */

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    background-color: #333;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
}
.nav li {
    float: left;
    font-size:19px;
    margin: 0px 0px;
    padding:2px 0px;
    border-radius: 0px;
    color: black;
}
.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family:sans-serif;
    margin:0px;
}

li a:hover:not(.active) {
    background-color: orange;
}

.active {
    background-color: #04AA6D;
}
/*side bar*/
/* .hide,
.show{
    width:250px;
    height:700px;
    position:relative;
    float: left;
    transition:all 3s;
    background-color:2220.8;
    font-family:cursive;
    left:-260px;
}
.show{
    left:0px;
} */
.menu{
    list-style:none;
    color: white;
    padding-left: 0px
}
.menu h3{
   background-color: var(--special);
    color: black;
    padding:10px;
    cursor:pointer;
    text-align:center;
}
.menu li{
    padding:20px 1px;
    text-align: center;
    width: 140px;

}
.menu a{
    cursor: pointer;
    color: black;
    text-decoration: none;   
    text-align: center;
    font-family: cursive;
    margin-left: 0px;
}
.menu li :hover{
    background-color: #ffa500;
   
}
#sidebar{
    background-color: #333;
    color: black;
    width: fit-content;
    position: absolute;
    z-index: 99;
    margin-left: 9px;
    border-radius: 9px;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    border-bottom: 3px groove var(--bordercolor);
}
#icon,
#cancel{
    cursor:pointer;
    margin:0px 10px;
}
#cancel{
    color: black;
    font-size: 30px;
}
#icon:hover{
    color: var(--special);
}
#cancel:hover{
    color: var(--special);
}

/* end nav bar */

img{

width:400px;
height:450px;
display:block;

}
body{
  background-color:black;
  color: var(--words);
  }
.header{
    text-align: center;
    color: var(--special);
}
h2:not(.header){
  color: var(--special);
  text-transform: capitalize;
}
.hr {
  border: 4px solid #d20100;
  width: 600px;
}
.hotfood{font-size:60px;
text-align:center;
color:orange;
}

div{


 border: 1px ;
border-color:black;}



button:not(#myBtn){
background-color:orange;
width:150px;
height:30px;
border-radius:5px;
border-color:orange;
}
p{
    margin: 70px;
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
    font-size: x-large;
    line-height: 2;
    letter-spacing: 4px;
}
#p1{float:left;
display:none;
font-size:20px;
overflow:auto;
/* color:white; */
}

#p2{
  float:left;
  display:none;
  font-size:20px;
  /* color:white; */
}
#p3{
  float:left;
  display:none;
  font-size:20px;
  overflow:auto;
/* ! color: words  ; */
}


#p4{float:left;
display:none;
font-size:20px;
overflow:auto;
/* color:white; */
}


#p5{float:left;
display:none;
font-size:20px;
overflow:auto;
/* color:white; */
}


#a1{float:left;
}

#a2{float:left;
}

#a3{float:left;
}

#a4{float:left;
}

#a5{float:left;
}
/*.p {display:none;
float:left;}*/
.container{float:left;
margin:25px 100px;
display:block;
}
pre{
  color: var(--words)
  
  }

.button{
float:left;
margin:400px;
margin-left:0px;
display:block;
}
#d{display:block;}

#myBtn {
    display: none;
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99;
    background-color: black;
    color: white; 
    cursor: pointer; 
    padding: 15px;
    border-color: #d20900;
    border-radius: 10px; 
    font-size: 10px; 
    opacity: 0.5;
  }
  
  #myBtn:hover {
    background-color: var(--bordercolor); 
    opacity: 1;
  }